<ion-header class="">
  <ion-toolbar>
    <ion-title class="">Electrician</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section>
    <div class="w-full h-52 mb-5">
      <img
        class="w-full h-full object-contain"
        src="../../../../../../assets/illustratioin/electricianimage"
        alt=""
      />
    </div>

    <swiper-container
      class="explain flex"
      [space]="3"
      [slidesPerView]="1.4"
      [loop]="false"
      [spaceBetween]="30"
    >
      <swiper-slide
        ><ion-icon name="pricetags-outline"></ion-icon>
        <p>Select the Service</p>
      </swiper-slide>
      <swiper-slide
        ><ion-icon name="pricetags-outline"></ion-icon>
        <p>Edit the service contend</p>
      </swiper-slide>
      <swiper-slide
        ><ion-icon name="pricetags-outline"></ion-icon>
        <p>And post the Request</p>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="mt-10">
    <!-- <ion-card class="" *ngFor="let item of [5, 3, 3, 4]">
      <div class="w-20 h-20 bg-green-300 absolute right-3 ">
        <div class="w-16 border h-8 bg-white absolute   -bottom-3 flex items-center justify-center ">
          <ion-icon name="add-outline" class="w-32 text-2xl"></ion-icon>
        </div>
      </div>

      <ion-card-header>
        <ion-card-title>
          <h1>Switch Replacement</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>Rs 50</div>
      </ion-card-content>
    </ion-card> -->
  </section>

  <section></section>
</ion-content>
