<ion-header class="">
  <ion-toolbar>
    <ion-title class="">{{ ServiceDetails[0].serviceName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section>
    <div class="w-full h-52 mb-5">
      <img
        class="w-full h-full object-contain"
        src="../../../../../../assets/illustratioin/electrician illu.jpg"
        alt=""
      />
    </div>

    <swiper-container
      class="explain flex"  
      [space]="3"
      [slidesPerView]="1.4"
      [loop]="false"
      [spaceBetween]="30"
    >
      <swiper-slide
        ><ion-icon name="pricetags-outline"></ion-icon>
        <p>Select the Service</p>
      </swiper-slide>
      <swiper-slide
        ><ion-icon name="pricetags-outline"></ion-icon>
        <p>Edit the service contend</p>
      </swiper-slide>
      <swiper-slide
        ><ion-icon name="pricetags-outline"></ion-icon>
        <p>And post the Request</p>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="mt-10">
    <div>
      <form>
        <ion-radio-group class="flex flex-col " value="custom-checked">
          <ion-radio labelPlacement=""  *ngFor="let item of ServiceDetails[0].category"  [value]="item" aria-label="Custom checkbox">{{item}}</ion-radio>
        </ion-radio-group>
      </form>
    </div>
  </section>
 
</ion-content>
