<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <section>
    <div class="w-full h-20 text-center mt-10 text-xl items-center p-6 bg-green-100 rounded-xl">
      <span>
        <h6>Get the services what you want</h6>
      </span>
    </div>
    <div class="sticky top-0 h-auto flex items-center bg-white">
      <ion-searchbar class="custom" animated="true" placeholder="Search the services"></ion-searchbar>
    </div>
  </section>
  
  <section>
    <div class="grid h-auto grid-cols-2 gap-2">
      <div *ngFor="let item of serviceCatogory" >
        <div [routerLink]="[item.link,item.category]" class="w-full h-24 flex flex-row-reverse justify-around items-center p-5 bg-gray-100 rounded-xl">
          <img class="object-cover h-16 w-16 mix-blend-multiply" [src]="item.image" alt="" />
          <span>{{item.category}}</span>
        </div>
      </div>
    </div>
  </section>
 
</ion-content>